body{
  padding: 0;
  margin: 0;
  background-color: #191624;
  display: flex;
  color: white;
  font-family: Trebuchet;
}
#menu{
  background-color: #110E1A;
  height: 100vh;
  width: 6vw;
  padding-top: 20px;
  display: inline-block;
  position: fixed;
}
#menu-elements{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#logo{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6vh;
  width: 60px;
  height: 60px;
  background-image: url("../img/vynil.png");
  background-position: center;
  background-size: cover;
}
#page{
  display: inline-block;
  margin-left: 7vw;
  padding-bottom: 9vh;
  width: 93vw;
  position: relative;
}
#player-div{
  position: fixed;
  bottom: 0;
  background-color: #100C17;
  width: 100vw;
  height: 10vh;
  border-top: 3px solid #f03049;
}
#home{
  background-image: url("../img/home.png");
}
#list{
  background-image: url("../img/list.png");
}
#user-playlist{
  background-image: url("../img/userplaylist.png");
}
#account{
  background-image: url("../img/account.jpg");
}
.menu-button{
  width: 22px;
  height: 22px;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  border: none;
  margin-bottom: 6vh;
}
.menu-button:hover{
  cursor: pointer;
}
#songs-list-div{
}
#songs-list{
  list-style-type: none;
}
#songs-list li{
  font-size: 18px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 60vw;
  border-top: 1px solid #353535;
}
#songs-list li:hover{
  background-color: #444;
}
#songs-list li form{
  margin-right: 20px;
}
.play_small{
  background-image: url("../img/play_small.png");
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  border: none;
  display: block;
}
.play_small:hover{
  cursor: pointer;
}

#playlist-div{
  display: flex;
  padding: 20px;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
}
#playlists{
  border-collapse: separate;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 10px;
}
#playlists td{
  text-align: center;
  cursor: default;

}
#playlists td img{
  width: 150px;
  height: 150px;
  border-radius: 2px;
}
#playlists td img:hover{
  cursor: pointer;
  transform: translateY(-3px);
}
