#player-controls{
  display: flex;
  margin-top: 15px;
  position: absolute;
  margin-left: 400px;
}
.player-button{
  width: 27px;
  height: 27px;
  background-position: center;
  background-size: cover;
}
.player-button:hover{
  cursor: pointer;
}
#custom-play{
  width: 30px;
  height: 30px;
  background-image: url("../img/play.png");
  margin-left: 2vw;
  margin-right: 2vw;
}
#custom-prev{
  margin-top: 1px;
  background-image: url("../img/prev.png");
}
#custom-next{
  margin-top: 1px;
  background-image: url("../img/next.png");
}

#player-info{
  display: flex;
  position: relative;
  margin-left: 2vw;
}
#player-info img{
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
#player-info h4{
  margin-left: 20px;
}
#pl{
  position: relative;
  height: 10vh;
}
#test{
  margin: 0;
  display: flex;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
